# .gitignore

# /nvim
nvim/.config/nvim/*.json
nvim/.config/nvim/ltex/ltex.hiddenFalsePositives.en-US.txt

# /yazi
yazi/.config/yazi/flavors/*
yazi/.config/yazi/plugins/*

# /quickshell
quickshell/.config/quickshell/.qmlls.ini

# /kitty
kitty/.config/kitty/*.bak
